@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,900&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,900&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
padding: 5px;
}
.content {
	width: 100%;
	height: 100%;
}
.header {
}
.header__content {
	max-width: 1300px;
	margin: 0 auto;
}
.header__first-row {
	display: grid;
	grid-template: 41px / minmax(121px, 3fr) 7fr;
	font-family: "Open Sans";
}
.flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.header__entrance {
	font-size: 14px;
}
.header__entrance-link:hover{
	transition-duration: 1s;
	text-shadow: 1px 1px 2px rgb(82, 211, 228);
}
.header__contacts-first{
	display: flex;
	justify-content: space-around;	
}
.header__email {
}
.header__entrance-link,
.header__email-link,
.header__adress,
.header__phone-number {
	font-size: 14px;
	color: #817a7be3;
}
.header__email-link:hover{
	transition-duration: 1s;
	text-shadow: 1px 1px 2px rgb(82, 211, 228);
}
.header__phone-number:hover{
	transition-duration: 1s;
	text-shadow: 1px 1px 2px rgb(82, 211, 228);
}
.header__phone {
}
.header__phone-image {
}
.header__phone-img {
}
.header-img_sm {
	height: 30px;
	padding: 2px 8px;
}
.header__phone-number {
}
.header__messengers {	
}
.messengers__item-link {
}
.messengers__item-img {
	margin: -8px;
}
.header__logotype-row {
	display: grid;
	grid-template: 86px / minmax(221px, 2fr) 6fr 2fr;
	margin: 0 0 5px 0;
}
.header__logotype {
}
.header__logotype-link {
}
.header__logotype-img {
	width: 210px;
	height: 66px;
}
.header__block-menu {
}
.header__author-job {
	justify-content: center;	
}
.header__author-job-link{
	font-size: 12px;
	padding: 3px 7px 5px;
	background-color: rgb(175, 16, 16);
	color: #fff;
	border-radius: 10px;
	transition-duration: 1s;
}
.header__author-job-link:active{
	color: rgb(235, 101, 101);
}
.header__author-job-link:hover{
	transition-duration: 1s;
	color: aqua;
}
.header__author-job-link{}
.header__menu {
}
.item_active::after{
text-decoration: underline;
}
.header__menu-lists {	
}
.header__menu-list {
	display: flex;
	justify-content: space-around;
	margin: 5px 0;	
	color: #595959;
	font-family: "Open Sans";
	text-shadow: 1px 1px 1px #000;
	transition-duration: 1s;
	padding: 0 0 15px 0;
	border-bottom: 3px solid rgba(252, 252, 252, 0.808);
}
.header__menu-list:hover{
	text-shadow: 1px 1px 2px rgb(82, 211, 228);
	transition-duration: 1s;	
	border-bottom: 3px solid rgba(46, 152, 184, 0.808);
	padding: 0 0 15px 0;	
}
.header__menu-link {
	padding: 5px 10px;
	font-size: 16px;
	color: #817a7be3;
}
.header__like-search {
}
.header__like {
	position: relative;
}
.header__like-image {
}
.header__like-link {
}
.header__like-img {
	width: 14px;
}
.header__like-number {
	position: absolute;
	top: -15px;
	right: -17px;
	background-color: #000;
	color: #fff;
	border-radius: 2px;
	padding: 5px 4px;
	font-size: 10px;
}
.header__search {
	margin: 0 0 0 20px;
}
.header__search-link {
}
.header__search-img {
	width: 19px;
	height: 19px;
}
.gifts {
	margin: 0px 0 80px 0;
}
.gifts__content {
	display: flex;	
	background-size: 100%;	
	background-image: url('../img/gifts/gifts_bgi.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;	
}
.gifts__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 15% auto;
	min-height: 100%;
}
.gifts__title1 {
	padding: 20px;
	color: rgb(172, 56, 35);
	font-weight: 900;
	text-shadow: 4px 4px 6px #000;
}
.title2 {
	font-size: 54px;
	text-align: center;
}
.gifts__title2 {
}
.gifts__title4 {
	color: rgb(172, 56, 35);
	text-shadow: 4px 4px 6px #000;
	padding: 20px;
}
.title4 {
	font-size: 24px;
	padding: 0 0 20px 0;
}
.gifts__btn-link {
	font-size: 30px;
	border: 4px dashed rgb(172, 56, 35);
	border-radius: 20px;
	color: rgb(20, 93, 104);
	text-shadow: 4px 4px 6px #000;
	transition-duration: 1s;
}
.gifts__btn-link:hover{
	border: 4px dashed rgba(212, 156, 147, 0.651);
	background-color: rgba(255, 255, 255, 0.473);
	text-shadow: 2px 2px 4px rgb(20, 93, 104);
	transition-duration: 1s;
	color: brown;
}
.gifts__btn-link:visited{
	color: rgb(172, 56, 35);
	text-shadow: 4px 4px 6px #000;
}
.cards {
	margin: 80px;
}
.cards-content {
}
.cards__items {
display: flex;
justify-content: center;
position: relative;
}
.cards__item-1{
	display: flex;	
	background-image: url("../img/cards/card_1.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 0px 7%;
	transition-duration: 2s;
	background-size: 100%;
}
.cards__item-2{
	display: flex;
	background-image: url("../img/cards/card_2.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 0px 7%;
	transition-duration: 2s;
	background-size: 100%;
}
.cards__item-1:hover{
	background-size: 130%;
	transition-duration: 1.5s;
	background-image: url("../img/cards/card_1_sh.jpg");	
	color: #fff;
	text-shadow: 1px 1px 2px black;
	opacity: 0.9;
}
.cards__item-2:hover{
	background-size: 130%;
	transition-duration: 1.5s;
	background-image: url("../img/cards/card_2_sh.jpg");
	text-shadow: 2px 2px 4px black;
	opacity: 0.9;
}
.cards__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
	height: 250px;
	margin-top: 20px;
}
.card__item:hover{
	border: 4px dotted rgb(175, 66, 66);
	background-color: rgba(250, 250, 250, 0.726);
}
.cards__item-title {
	font-size: 34px;
	font-weight: 900;
	padding: 20px;
	text-align: center;
}
.cards__item-text {
	font-size: 14px;
	font-weight: 500;
	padding: 20px;
	text-align: center;
	text-shadow: 1px 1px 3px rgb(243, 240, 240);
}

.cards__item-title_white-text {
	color: #fff;
	text-shadow: 1px 1px 3px #000;
}

.cards__item-text_white-text {
	color: #fff;
}
.offer{	
}
.offer__content {
	margin: 40px 0 20px 0;
}
.offer__item-image{
max-width: 360px;
max-height: 360px;
overflow: hidden;
}
.offer__item-img{
	width: 100%;
	height: 100%;
	transition-duration: 1s;
}
.offer__item-img:hover{
	opacity: 0.7;
	transition-duration: 2s;
	width: 120%;
	object-fit: cover;
}
.offer__title {
	display: flex;
	justify-content: center;
	margin: 80px auto;
}
.offer__title2 {
}
.offer__items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.offer__item {
	margin: 0 20px;
	max-width: 33.333%;
	height: 489px;
}
.offer__item-sub {
	font-family: "Open Sans";
	font-size: 10.5px;
	text-align: center;
	padding: 5px;
}
.offer__item-name {
	font-size: 14px;
	text-align: center;
	padding: 10px 5px;
}
.offer__name-link {
}
.offer__item-price {
	width: 100%;
	height: 30px;
	font-size: 13px;
	text-align: center;
	padding: 10px 5px;
}
.offer__item-button{
	display: flex;
	justify-content: center;
	margin: 20px 0 0 0;
}

.offer__button-details {
	display: flex;	
	align-items: center;
	font-size: 20px;
	padding: 2px 4px;
	border: 2px dashed #000;
	border-radius: 6px;
	transition-duration: 1s;
}
.offer__button-details:hover{
	opacity: 0.7;
	transition-duration: 1s;
	color: #000;
	border: 2px dashed rgb(156, 50, 50);
}
.offer__button-details-link {
}
.offer__button-like {
	padding: 4px 4px;
	border: 2px dashed #000;
	border-radius:50%;
	margin: 0 0 0 10px;
	transition-duration: 1s;
}
.offer__button-like:hover{
	opacity: 0.7;
	transition-duration: 1s;
	border: 2px dashed rgb(156, 50, 50);
}
.offer__button-like-link {
}
.offer__like-img {
	width: 18px;
	height: 18px;
}
.like-img {
}
.offer__item-author {
	font-size: 13px;
	text-align: center;
	padding: 10px 5px;
}
.poster {
	margin: 80px 0px;
	max-height: 550px;
	max-width: 100%;
	padding: 0 0 40px 0;	
}
.poster__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url(../img/poster/poster_1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 100%;
	height: 550px;
}
.poster__title {
}
.poster__title2 {
	margin: -80px 0 0 0;
	text-shadow: 1px 1px 4px #fff;
}
.title {
}
.poster__title-text {
	font-size: 25px;
	text-shadow: 1px 1px 4px #fff;
}
.poster__button {
	margin: 40px 0 0 0;
	border: 4px dotted rgb(141, 60, 60);
	padding: 10px;
	border-radius: 20px;
	text-shadow: 1px 1px 2px #000;
	transition-duration: 1s;
}
.poster__button:hover{
background-color: rgba(255, 255, 255, 0.842);
opacity: 0.8;
transition-duration: 1s;
}
.poster__link {
	font-size: 20px;
}
.popular {
	margin: -20px 0 40px 0;
}
.popular__content {
}
.popular__title {
	display: flex;
	justify-content: center;
}
.popular__title4 {
	margin: 0 0 80px 0;
}
.popular__items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.popular__items-content {
	position: relative;
}
.popular__item {
	width: 350px;
	height: 350px;
	overflow: hidden;
}
.popular__item-link {
}
.popular__item_img {
	width: 100%;
	height: 100%;
	transition-duration: 1.5s;

}
.popular__item_img:hover{
	width: 120%;
	opacity: 0.5;
	transition-duration: 1.5s;
	object-fit: cover;
}
.popular__item-number {
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	padding: 18px 14px;
	position: absolute;
	top: 245px;
	left: 140px;

}
.popular__item-sub {
	display: flex;
	justify-content: center;
	position: relative;
	top: -75px;
	padding: 10px 0 0 0;
	background-color: rgba(247, 247, 247, 0.664);
	padding: 20px 0;
	font-size: 20px;
}
.new-receipts {
	margin: 40px 0;
}
.new-receipts__content {
	
}
.new-receipts__title{
	display: flex;
	justify-content: center;
	margin: 0 0 40px 0;
}
.new-receipts__items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.new-receipts__item {
	display: flex;
	flex-direction: column;	
	flex-wrap: wrap;
	width: 22%;
	max-width: 366px;
	max-height: 366px;
	overflow: hidden;
}
.new-receipts__item-image {
overflow: hidden;
padding: 0 0 1% 0;
}
.new-receipts__item-img{
	width: 100%;
	height: 100%;
}
.new-receipts__item-sub {
}
.new-receipts__item-name {
}
.new-receipts__item-link {
}
.new-receipts__item-price {
}
.new-receipts__item-buttons {
}
.item__button-details {
}
.item__button-like {
}
.services {
}
.services__content {
}
.services__title {
	margin: 0 0 5px 0;
	text-align: center;
	font-size: 20px;
	color: #2b3033;
}
.servisec__title2 {
}
.services__items {
	display: flex;
	justify-content: space-around;
	margin: 60px 0 0 0;
	flex-wrap: wrap;
}
.services__item {
	max-width: 33.333%;
	width: 350px;
	margin: 15px;
}
.services__item-image {
}
.services__title-sub {
font-size: 17px;
font-family: "Open Sans";
font-style: italic;
text-align: center;
margin: 0 0 15px 0;
color: #999999;
}
.services__title-link {
	max-width: 350px;
	max-height: 180px;
	overflow: hidden;
}
.services__title-img {
	width: 100%;
	height: 100%;
	transition-duration: 2s;
}
.services__title-img:hover{
	width: 110%;
	height: 110%;
	object-fit:contain;
	transition-duration: 2s;
	
}
.services__title-text {
	text-align: justify;
	font-family: serif;
	font-weight: 600;
	margin: 10px 0 0 0;
	color: #999999;
	font-size: 15px;
	font-style: italic;
	letter-spacing: 2px;
	line-height: 20px;
}
.services__note {
	margin: 60px;
	color: #999999;
	text-align: center;
	font-family: serif;
	font-weight: 600;
	font-size: 16px;
	font-style: italic;
}
.footer {
	background-image: url(../img/footer/background/bgi.jpg);
}
.footer__content {
	max-width: 1300px;
	margin: 40px auto 0;
}
.footer__items {
	display: flex;
	justify-content: space-around;
}
.footer__item {
	max-width: 22%;
}
.footer__title {
	font-size: 22px;
	font-weight: 600;
	margin: 20px 0 20px 0;	
	font-style: italic;
	font-weight: 700;
	font-family: serif;
}
.footer__lists {
}
.footer__list {
	margin: 0 0 15px 0;
	font-size: 17px;
	font-style: italic;
	font-weight: 800;
	font-family: serif;
	color: rgb(56, 98, 212);
	letter-spacing: 1.5px;
	line-height: 22px;
	text-shadow: 0.5px 0.5px 1px #333;
}
.footer a{
	font-size: 18px;
	font-style: italic;
	font-weight: 800;
	font-family: serif;
	color: rgb(56, 98, 212);
	text-shadow: 0.5px 0.5px 1px #333;
	letter-spacing: 1.5px;
	line-height: 22px;
	transition-duration: 0.5s;
}
.footer a:hover{
	color: rgb(177, 102, 52);
	transition-duration: 0.5s;
	text-shadow: 1px 1px 1px #333;
}
.footer__list-link {
}
.footer--email {
}
.footer__about-us {
	font-size: 18px;
	font-style: italic;
	font-weight: 800;
	font-family: serif;
	color: rgb(56, 98, 212);
	text-shadow: 0.5px 0.5px 1px #333;
	letter-spacing: 2px;
	line-height: 22px;
}
.footer__pay-images {
	display: flex;
	flex-wrap: wrap;
	margin: 5px  0;
}
.footer__pay-img {
}

.hidden {
	display: none;
}